<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
			
		</defaultProxy>
		<settings>
			<ipv6 enabled="true"/>
		</settings>
	</system.net>
  <packageSources>
    <add key="nuget.org.proxy" value="https://maven2.it.volvo.net:8443/repository/nuget.org-proxy/" />
    <add key="coe" value="https://maven2.it.volvo.net:8443/repository/drs-ms-core/" />
    <add key="sma" value="https://maven2.it.volvo.net:8443/repository/sma-nuget/" />
	<add key="NuGet Public" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>